<% if defined?(current_user) && current_user %>
  <%= link_to({ controller: 'notice/board/notifications' }, id: 'notice_show', class: 'navbar-item') do %>
    <%= svg_tag 'bell' %>
    <span class="ml-1" id="notice_count"><%= current_user.unread_count %></span>
  <% end %>
<% end %>
